@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 36px;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input{
    margin: 0;
    border: 2px solid black;
    border-radius: 2rem;
    width: 20%;
    padding: 5px;
    float: center;
    font-size: 24px;
}

.addBtn{
    padding: 3px;
    width: 15%;
    background: #000000 ;
    color: #ffffff;
    float: right;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1rem;
    transition: 0.3s;
}
.addBtn:hover{
    background:  #000000;
    color: white;
}

.close{
    margin-left: 20px;
}