@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

:root{
    /* --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #f0f0f0; */
    --font-family: 'Imbue', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner inicial */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}
.banner h1{
    margin-left: 150px;
    font-size: 100px;
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 8px;
}
.banner img{
    width: 80%;
}
/* //// */
/* //// */

/* INPUT E BOTÕES */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    max-width: 420px;
    margin: 0 auto;
    /* right: 200px; */
}
/* Botão esquerdo */
.btn-esquerdo {
    height: 52px;
    width: 60px;                    
    color: white;
    border: 2px solid white;
    border-right: none;             
    border-radius: 2rem 0 0 2rem;   
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* O Input */
.button-container input {
    height: 52px;
    flex: 1;                        
    background-color: black;
    color: white;
    border-radius: 10px;              
    font-size: 24px;
    text-align: center;
    font-family: "Imbue", serif;
    
}
/* Botão direito */
#btn-direito {
    height: 52px;
    width: 60px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    outline: none;
    background: none;
}
input::placeholder{
    text-align: center;
    color: white;
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* //// */
/* //// */
ul{
    font-size: 24px;
    padding: 2rem;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close{
    padding: 3px;
    margin-left: 20px;
}